p > span.math.eq {
    margin: 0 auto;
    display: block;
}
p > span.math.eq > svg {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);  
}
li p {
    margin: 0;
}
.MathJax {
    font-size: 80%;
}
p img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
#TOC {
    border: 1px solid #aeaede;
    box-shadow: 2px 2px 1px #dedede;
}
#TOC a {
    color: #222234;
    font-size: 16px;
}
pre {
    border: 1px solid #dedede;
}
